.res-show-header {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 13px;
  margin-top: 20px;
  width: 900px;
}

.res-header-right {
  display: flex;
  margin-top: 20px;
}

.res-header-right > button {
  margin-left: 8px;
  margin-right: 8px;
}

.type-price > span > a {
  color: #0073bb;
}

.res-header-left > h1 {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2em;
}

.medium-button {
  background-color: #ed0008;
  background: linear-gradient(#ed0008, #dd1600);
  border: 1px solid #8d0005;
  width: 160px;
  height: 36px;
  justify-content: center;
  margin: auto;
}

.grey-button > a {
  font-size: 14px;
  color: white;
  margin: auto;
}

.grey-button > a:hover {
  text-decoration: underline;
}

.medium-button:hover {
  border: 1px solid #8CFFE8;
}


.small-button {
  width: 110px;
  height: 30px;
  margin: auto;
  justify-content: space-around;
}

.grey-button {
  background: linear-gradient(#fff, #f7f7f7);
  background-color: #f7f7f7;
  border: 1px solid #ccc;
}


.small-button > a > span {
  font-size: 12px;
  color: #666;
  line-height: 1.5em
}

.photo-icon {
  height: 25px;
  width: auto;
}

.res-header-right > button > a {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.smaller-star {
  height: 30px;
  width: 30px;
  background: #cccccc;
  display: flex;
  justify-content: center;
  margin: 2px;
  cursor: default;
  border: none;
}

.smaller-star > img {
  height: 22px;
  width: 22px;
  margin: auto;
}

.res-stars {
  display: flex;
}

.res-rating {
  display: flex;
}

.res-rating > span {
  margin: auto;
  color: #666;
}
