.res-show{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;

}
.top-shelf {
  padding-bottom: 24px;
  margin-bottom: -18px;
  z-index: 1;
  position: relative;
  width: 85%;
  margin: auto;
}

#map{
  width: 286px;
  height: 135px;
  display: block;
  border: 1px solid black;
}

.map-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 315px;
  border: 1px solid #ccc;
  background: #fff;
  padding: 5px;
}
.address {
  font-size: 16px;
  padding: 5px;
  cursor: default;
}

.address > span > a {
  text-decoration: none;
  cursor: pointer;
  margin-left: 5px;
  word-wrap: break-word;
}

#street, #city-zip{
  font-weight: bold;
  padding: 3px;
}

.side-shelf {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 33.333%;
  padding: 0 30px 0 30px;
  margin-right: -15px;
  box-shadow: -1px 0 0 #e6e6e6;
}
.all-hours > li {
  display: flex;
  flex-direction: column;
}
.hours li {
  float: left;
  font-size: 14px;
}

.hours {
}

.all-hours {
  margin-bottom: 24px;
}

.midcontent {
  display: flex;
  justify-content: center;
}


.side-shelf > div > h3 {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3125em;
  color: #d32323;
}

.day {
  font-weight: bold;
  margin-right: 18px;
}

.res-photos {
  display: flex;
  margin: auto auto auto 0;
}

.map-photos {
  display: flex;
  width: 900px;
  margin: auto;
}


.feature-list {
  display: flex;
  flex-direction: column;
}

.feature-list > li {
  margin: 6px 0;
}

.top-third {
  width: 100%;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.midcontent {
  background: white;
}

.midcontent > div > div > h3 {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3125em;
    color: #d32323;
  }
.photo-container {
  box-sizing: content-box;
  margin: auto 0;
  display: block;
  height: 230px;
  width: 230px;
  transition-property: transform, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.photo-container > img {
  height: 230px;
  width: 230px;
  z-index: 0;
}

.photo-container:hover {
  width: 250px;
  height: 250px;
}



.photo-container:hover > img {
  transition-duration: 100ms;
  height: 250px;
  width: 250px;
  box-shadow: 4px 4px 4px 4px #ccc;
  z-index: 10;
}

.dash{
  margin-left: 5px;
  margin-right: 5px;
}

.day {
  width: 30px;
}
