
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol,
a, img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  width: 100%;
  height: 100%;
  line-height: 1.16667;
  color: black;
  background: white;
  font-family: Arial;
  box-sizing: content-box;
}
ol, ul {
  list-style: none;
}

button {
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

button:focus {
  outline: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input, select {
  background: #FAFAFA;
  border-radius: 3px;
  border: 1px solid #bbb;
  font-size: 14px;
}

.small-logo {
  height: 60px;
  width: auto;
}
