.review-input {
  box-sizing: border-box;
  height: 250px;
  width: 600px;
  padding: 18px 15px 0 15px;
  margin-bottom: 12px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
  border: 1px solid #bbb;
  border-radius: 3px;
  line-height: 1.29em;
}

.review-rating{
  display: flex;
  height: 50px;
  border-bottom: 1px solid #ccc;
}

.review-rating > ul {
  display: flex;
  flex-direction: row;
}

.review-rating > ul > li {

  padding: 1px;
}

.review-rating > span {
  margin: auto 0;
}

.review-input > textarea{
  box-sizing: border-box;
  height: 150px;
  padding: 2px;
  width: 100%;
}

.highlight {
  background: #D32323;
}

.small-square-button {
  border: none;
}

.review-form {
  box-sizing: border-box;
  padding: 0 15px;
  width: 900px;
  margin: auto;
}

.review-form > h3 {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3125em;
  color: #d32323;
}

.post-review-button {
  padding: 5px 8px;
  border: 1px solid #8D0005;
  background: linear-gradient(#ed0008, #dd1600);
}

.post-review-button > span {
  font-size: 12px;
  font-weight: bold;
  color: white;
}
