.restaurant-index-item {
  box-sizing: border-box;
  width: 610px;
  margin: auto;
  padding: 18px 0;
  display: flex;
  border-top: 1px solid #e6e6e6;
}

.restaurant-index-item:last-of-type {
  border-bottom: 1px solid #e6e6e6;
}

.left-index-item {
  width: 300px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.right-index-item {
  margin: 10px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.left-index-item > a {
  color: #0073BB;
  margin: 2px 0;
}

.index-stars {
  display: flex;
}

.right-index-item > span {
  font-size: 15px;
}

.left-index-item > div > span {
  margin: auto 2px;
  }

#map-container {
    display: block;
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    position: static;
}

.left-index-item > div {
  margin: 2px 0;
}

.main-search{
  display: flex;
  width: 1000px;
  margin: auto;
  padding: 10px;
  justify-content: space-between;
}

.restaurant-index {
  width: 630px;
}

.avatar-container {
  height: 90px;
  width: 90px;
  margin-right: 16px;
}

.avatar-container > img {
  height: 90px;
  width: 90px;
  border-radius: 4px;
}
