.birthday {
  display: flex;
  justify-content: flex-end;
}

.birthday > li > select {
  display: inline;
  width: 100px;
  margin: 1px;
}

.full-input {
  width: 300px;
}

.half-input {
  display: flex;
  justify-content: center;
}

.half-input > input {
  width: 153px;
  padding-right: 2px;
  display: inline;
}

.session-form {
  margin-left: 100px;
  margin-right: 50px;
  margin-bottom: 100px;
  margin-top: 50px;
  width: 306px;
}

.session-form > input, .session-form > div > input, .session-form > div > ul > li > select {
  height: 30px;
}

.full-input, .half-input > input {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}
