.session-page {
  display: flex;
  margin-top: 150px;
  margin-bottom: 200px;
}

.title {
  justify-content: center;
}

.title > h4, .title > h6{
  font-weight: bold;
  width: 100%;
  text-align: center;
}


.title > h4 {
  font-size: 22px;
  color: #D32338;
  line-height: 1.28571em;
}

.title > h6 {
  margin-bottom: 12px;
  font-size: 14px;
}

.picture-container {
  margin: auto;
}

.picture-container > img {
  height: 400px;
  width: auto;
}

.birthday {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
  padding: 0;
  width: 312px;
}

.birthday > li > select {
  width: 96px;
  margin: 0px;
  height: 28px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);

}


.full-input {
  width: 300px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
}

.half-input {
  display: flex;
  justify-content: space-between;
  width: 312px;
}

.half-input > input {
  width: 140px;
  display: inline;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);

}


.session-form {
  margin: auto;
  width: 312px;
}

.session-form > input {
  height: 23px;
}

.session-form > button {
  background-color: #d90007;
  background: linear-gradient(#d90007, #c91400);
  font-size: 14px;
  height: 36px;
  border: 1px solid #8d0005;
  font-weight: bold;
  width: 312px;
}

.session-form > button:hover {
  background-color: #ed0008;
  background: linear-gradient(#ed0008, #dd1600);
}
.bottom-link {
  text-align: right;
  display: block;
  width: 300px;
  color: #999;
  font-size: 12px;
  line-height: 1.5em;
  margin-top: 9px;
}

.full-input, .half-input  > input {
  margin: 5px 0 0 0;
  padding: 5px;
}
.name-password {
  width: 100%;
}
.name-password > div > input {
  height: 18px;
}

.zip_birthday > label {
  display: inline-block;
  margin: 6px 0;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}


.terms {
  font-weight: normal;
  font-size: 12px;
  color: #666;
  width: 312px
}
.terms > a {
  color: #0073BB
}
